parameters:
	ignoreErrors:
		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 1
			path: src/SmallkingDev/WorldTimeBlocker/utils/StringToWorldTimeParser.php

		-
			message: "#^PHPDoc tag @param for parameter \\$worldTimeName with type array\\<int, string\\>\\|string is not subtype of native type string\\.$#"
			count: 1
			path: src/SmallkingDev/WorldTimeBlocker/utils/StringToWorldTimeParser.php

		-
			message: "#^Method SmallkingDev\\\\WorldTimeBlocker\\\\world\\\\WorldManager\\:\\:getWorldTime\\(\\) should return int\\|null but returns mixed\\.$#"
			count: 1
			path: src/SmallkingDev/WorldTimeBlocker/world/WorldManager.php

		-
			message: "#^Parameter \\#1 \\$array of function array_diff expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: src/SmallkingDev/WorldTimeBlocker/world/WorldManager.php
